<% title = title || 'Operaci贸n 路 Devoluci贸n' %>
<%- include('./_submenu') %>
<div class="card bg-base-200">
  <div class="card-body">
    <div class="text-lg font-semibold">Devoluci贸n</div>
    <div class="opacity-70 text-sm">Pendiente de definir.</div>
  </div>
</div>
