name: Deploy Workflow

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to Hostinger
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.HOSTINGER_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /var/www/kryotec
            git reset --hard HEAD
            git pull origin main
            chmod +x deploy/deploy.sh
            bash deploy/deploy.sh

      - name: Deploy to Contabo
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.CONTABO_IP }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            cd /var/www/kryotec
            git reset --hard HEAD
            git pull origin main
            chmod +x deploy/deploy.sh
            bash deploy/deploy.sh
